{%- liquid
  # sections/clerk.liquid
  
  # Basic Clerk recommendations slider render, with fallback to native Shopify recommendations
  assign item_class = 'splide__slide shrink-0 flex flex-col *:grow'
-%}

<div>
  {% if section.settings.clerk_enable %}
    data-component="clerk"
    data-config='{%- render 'get-clerk-data', section: section -%}'
    data-endpoint="{{- section.settings.clerk_endpoint -}}"
  {% endif %}
  
  <div class="splide__track">
    <div class="splide__list" data-output data-classlist="{{ item_class | escape }}">
      {%- if recommendations.performed? -%}
        {%- for product in recommendations.products -%}
          <div class="{{ item_class }}">
            {%- render 'card-product', product: product -%}
          </div>
        {%- endfor -%}
      {%- else -%}
        {%- for i in (1..section.settings.limit) -%}
          <div class="{{ item_class }}">
            {%- render 'placeholder' -%}
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product recommendations",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Limit",
      "min": 2,
      "max": 18,
      "step": 1,
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "clerk_enable",
      "label": "Enable Clerk",
      "default": false
    },
    {
      "type": "text",
      "id": "clerk_label",
      "label": "Clerk label",
      "info": "Used by Clerk to track this specific sections performance."
    },
    {
      "type": "select",
      "id": "clerk_endpoint",
      "label": "Clerk API Endpoint",
      "options": [
        {
          "group": "Regular",
          "value": "recommendations/popular",
          "label": "Bestsellers"
        },
        {
          "group": "Regular",
          "value": "recommendations/trending",
          "label": "Hottest Products"
        },
        {
          "group": "Regular",
          "value": "recommendations/new",
          "label": "Newly added products"
        },
        {
          "group": "Regular",
          "value": "recommendations/currently_watched",
          "label": "Visitors Are Looking At"
        },
        {
          "group": "Regular",
          "value": "recommendations/recently_bought",
          "label": "Recently bought"
        },
        {
          "group": "Product page",
          "value": "recommendations/complementary",
          "label": "Best Cross-Sell Products"
        },
        {
          "group": "Product page",
          "value": "recommendations/substituting",
          "label": "Product Alternatives"
        },
        {
          "group": "Product page",
          "value": "recommendations/bundle",
          "label": "Bundled products"
        },
        {
          "group": "Visitor",
          "value": "recommendations/visitor/history",
          "label": "Visitor History"
        },
        {
          "group": "Visitor",
          "value": "recommendations/visitor/complementary",
          "label": "Visitor Recommendations"
        },
        {
          "group": "Visitor",
          "value": "recommendations/visitor/substituting",
          "label": "Visitor Alternatives"
        },
        {
          "group": "Customer",
          "value": "recommendations/customer/history",
          "label": "Customer History"
        },
        {
          "group": "Customer",
          "value": "recommendations/customer/complementary",
          "label": "Customer Recommendations"
        },
        {
          "group": "Customer",
          "value": "recommendations/customer/substituting",
          "label": "Customer Alternatives"
        }
      ],
      "default": "recommendations/popular"
    }
  ]
}
{% endschema %}